#back-button, #forward-button {
  order: -1 !important;
}

/* container spacing */
.titlebar-buttonbox {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
}

/* base circle */
.titlebar-button {
  appearance: none !important;
  content: none !important;;

  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  min-height: 16px !important;

  border-radius: 50% !important;
  border: none !important;

  padding: 0 !important;
  margin: 0 !important;

  opacity: 0.5; /* 👈 more transparent */
  transition: 
    opacity 0.2s ease,
    transform 0.15s ease,
    filter 0.2s ease;
}

/* hide default content */
.titlebar-button .toolbarbutton-icon,
.titlebar-button .toolbarbutton-text {
  display: none !important;
}

/* colors */
.titlebar-close {
  background-color: #ff5f57 !important;
}

.titlebar-min {
  background-color: #f5c542 !important;
}

.titlebar-max,
.titlebar-restore {
  background-color: #30d158 !important;
}

/* hover = more visible */
.titlebar-button:hover {
  opacity: 0.9;
  filter: brightness(1.1);
}

/* click */
.titlebar-button:active {
  transform: scale(0.85);
}



.zen-current-workspace-indicator {
  position: relative;
}

/* wrapper positioning */
.zen-workspaces-button-wrapper {
  position: absolute;

  left: 35px;
  right: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* hover show */
.zen-current-workspace-indicator:hover 
.zen-workspaces-button-wrapper {
  opacity: 1;
  pointer-events: auto;
}

/* hide label on hover */
.zen-current-workspace-indicator:hover 
.zen-current-workspace-indicator-name {
  opacity: 0 !important;
}

